.u-section-1 .u-sheet-1 {
  min-height: 280px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  width: 865px;
  font-weight: 700;
  margin: 26px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 796px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  width: 567px;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}